/* =============== Generator =============== */

.generator {
    text-align: center;
    padding-top: 100px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.generator .raw {
    font-size: 15px;
    font-weight: 200;
}

input[type=text] {
    border: 1px solid rgba(0, 153, 255, 0.419);
}

input[type=text]:focus {
    box-shadow: 0px 0px 20px -10px rgb(0, 195, 255);
    border: 1px solid rgb(0, 195, 255);
}

#rawlink {
    width: 550px;
    height: 40px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 20px;
    color: powderblue;
    transition: all 0.2s;
    background-color: rgba(0, 153, 255, 0.419);
    font-family: 'Poppins', sans-serif;
}

#rawlink:hover, #rawlink:focus {
    outline: none;
}

.check {
    padding-top: 10px;
}

#validation {
    visibility: hidden;
    color: red;
    border: none;
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
}

#validation:focus {
    outline: none;
}

#copy {
    color: green;
    font-size: 10px;
    font-weight: 900;
    visibility: hidden;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width:632px) {
    .generator {
        text-align: center;
        padding-top: 60px;
        color: white;
        font-family: 'Poppins', sans-serif;
    }

    input[type=text] {
        border: 1px solid rgba(0, 153, 255, 0.419);
    }
    
    input[type=text]:focus {
        box-shadow: 0px 0px 20px -10px rgb(0, 195, 255);
        border: 1px solid rgb(0, 195, 255);
    }

    #rawlink {
        width: 320px;
        height: 30px;
        padding-left: 7px;
        padding-right: 7px;
        border-radius: 20px;
        color: powderblue;
        background-color: rgba(0, 153, 255, 0.419);
        font-family: 'Poppins', sans-serif;
    }
}

/* =============================== */

/* =============== Deeplink si pentru... =============== */
.more {
    text-align: center;
    color: white;
    font-size: 10px;
    padding-bottom: 17px;
    font-family: 'Poppins', sans-serif;
}

.more p {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.more .smallTitle .icons a, img {
    text-decoration: none;
    max-width: 30px;
}
/* =============================== */

/* =============== Donatii & Sustinere =============== */
.support {
    padding-top: 100px;
    font-size: 12px;
    color: rgb(206, 206, 206);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
  
  .support .icons a, img {
    max-width: 24px;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
}
  
  #pp {
    max-width: 20px;
}
/* =============================== */

/* =============== Mai multe despre Smart 301 si resurse =============== */
.info {
    font-size: 10px;
    color: rgb(206, 206, 206);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
  
  .info a {
    color: rgb(206, 206, 206);
    text-decoration: none;
}
/* =============================== */

/* =============== Versiunea Aplicatiei =============== */
.appVersion {
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
  
#ver {
    color: rgb(206, 206, 206);
    text-decoration: none;
    font-size: 7px;
    font-style: italic;
}
/* =============================== */