@import url('https://gocdn.frontfacer.com/fonts/global.css');

a {
    color: white;
    text-decoration: none;
}

.promo {
    visibility: hidden;
    text-align: center;
    color: white;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}