#rawlink {
    width: 526px !important;
    padding-left: 32px !important;
    padding-right: 6px !important;
    background-size: 20px;
    background-position: 8px 11.5px;
    background-repeat: no-repeat;
    background-image: url(https://gocdn.frontfacer.com/img/icons/@-dev1.png);
}

@media only screen and (max-width:632px) {
    #rawlink {
        width: 295px !important;
        padding-left: 33px !important;
        background-size: 20px;
        background-position: 8px 6px;
        background-repeat: no-repeat;
        background-image: url(https://gocdn.frontfacer.com/img/icons/@-dev1.png);
    }
}